
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #9bcee0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

#gameboard {
  width: 90%;
  max-width: 500px;
  background: #ffffff;
  padding: 20px;
}

.letters-align {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.box {
  width: 70px;
  height: 70px;
  background-color: #9bcee0;
  border: 2px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hidden {
  opacity: 0;
}

input#guess {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  width: 100%;
  max-width: 250px;
  margin-bottom: 15px;
}

input#guess:focus {
  border-color: #9bcee0;
  outline: none;
}

.buttons button {
  background-color: #9bcee0;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
}


.buttons .hidden {
  display: none;
}

.others {
  margin-top: 20px;
}

#score {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

#hearts {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.hearts-icon {
  width: 30px;
  height: 30px;
}
