
body div{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e1d77d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    border: solid thick black;
  }

img#photo {
    display: block;
    width: 300px;
    height: 300px;
    border: solid thick black;
    margin-right: 50px;
    margin-top: 50px
    
}

p.bio   {
    display: block;
    width: 300px;
    height: 300px;
    border: solid thick black;
    background-color: #9bcee0;
    margin-left: 50px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button#buttons {
    width: 100px;
    height: 100px;
    background-color: #9bcee0;
}

h1 {
    display: block;
    text-align: center;
    width: 100%; 
    background-color: #e1d77d;
    border: solid thick black;
}

p.academic   {
    display: block;
    width: 300px;
    height: 300px;
    border: solid thick black;
    background-color: #9bcee0;
    margin-left: 50px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


